@page "/addclass"
@using MyStudentApi.Models.DTO
@using MyStudentAttendance.Data

@inject ILectureServices LectureService
@inject NavigationManager Navi

<h3>Add Session</h3>

<EditForm Model="classDetails" OnValidSubmit="AddClass">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="courseCode">Course Code</label>
        <InputNumber id="courseCode" class="form-control" @bind-Value="classDetails.CourseCode" />
    </div>

    <div class="form-group">
        <label for="className">Class Name</label>
        <InputText id="className" class="form-control" @bind-Value="classDetails.ClasssName" />
    </div>

    <div class="form-group">
        <label for="teacherName">Teacher Name</label>
        <InputText id="teacherName" class="form-control" @bind-Value="classDetails.TeacherName" />
    </div>

    <div class="form-group">
        <label for="dayOfWeek">Day of Week</label>
        <InputSelect class="form-control" @bind-Value="classDetails.DayOfWeek">
            <option value="">-- Select Day --</option>

            @foreach(DayOfWeek day in Enum.GetValues<DayOfWeek>())
            {
                <option value="@day">@day</option>
            }

        </InputSelect>
    </div>

    <div class="form-group">
        <label for="startTime">Start Time</label>
        <InputDate id="startTime" Type="InputDateType.Time" @bind-Value="classDetails.StartTime" class="form-control" />
    </div>

    <div class="form-group">
        <label for="stopTime">Stop Time</label>
        <InputDate id="stopTime" Type="InputDateType.Time"  class="form-control" @bind-Value="classDetails.StopTime" />
    </div>

    <div class="form-group">
        <label for="unitLoad">Unit Load</label>
        <InputNumber id="unitLoad"  class="form-control" @bind-Value="classDetails.UnitLoad" />
    </div>

    <button class="btn btn-primary" type="submit">Add Class</button>
</EditForm>

@code {
    private SchoolClassDTO classDetails = new SchoolClassDTO();

    private async Task AddClass()
    {
        try
        {
        var result = await LectureService.CreateClassAsync(classDetails);
        if (result)
            Navi.NavigateTo("/classlist");
        else
            Console.WriteLine("Failed to create class");
        }
        catch(Exception exception)
        {
            Console.Write($"{exception.Message}");
        }

        
    }
}
